#bgimg{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
#bgimg>img{
    height: 100%;
    width: 100%;
    border: 0;
}
.blist{
    background-color: #2A2523;
    color: #E3E0DB;
    width: 60%;
    margin-left: 18%;
    margin-top: 5%;
    line-height: 3rem;
}
.blist1{
    background-color:#D6CCC5;
    color:#474342;
    width: 60%;
    margin-left: 18%;
    margin-top: 1%;
    line-height:4rem;
    opacity: 0.66;
    border-radius: 8px;
}