<html>
<html lang="en-US">


<form enctype="multipart/form-data" action="Home/User/auditing" method="post">
    <table>
        <tr>
            <td><label for="txtname">手机号:</label></td>
            <td><input type="text" id="txtphone" name="phone" /></td>
        </tr>
        <tr>
            <td><label for="txtname">昵称:</label></td>
            <td><input type="text" id="txtname" name="nickname" /></td>
        </tr>
        <tr>
            <td><label for="txtpswd">身份证号:</label></td>
            <td><input type="text" id="txtidcard" name="idcard" /></td>
        </tr>
        <tr>
            <td><label for="txtpswd">密码:</label></td>
            <td><input type="text" id="txtpswd" name="password" /></td>
        </tr>
        <input type="hidden" name="parentphone" value="{$parentphone}"> 
        <tr>
            <td colspan=2>
                <input type="reset" value="重置" />
                <input type="submit" value="提交审核" />
            </td>
        </tr>
    </table>
</form> 

<a href="/Home/index/login">登录</a>

</html>